<h1>Create post</h1>
<div class="well">
<%= form_for @post, :html => {:class => "form"} do |f| %>
  <div class="form-group">
  <%= f.label :title %>
  <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="form-group">
  <%= f.label :content %>
  <%= f.text_area :content, size: "60x12", class: "form-control" %>
  </div>
  <button type="submit" class="btn btn-primary">Post</button>
<% end %>
</div>
