<div class="panel panel-default">
  <div class="panel-heading"><h1 class="panel-title"><%= @post.title %></h1>
  <small>posted by <%= @post.user.email %>
     on <%= @post.created_at.strftime('%B %e, %Y, %l:%M%P') %></small></div>
  <div class="panel-body"><%= @post.content %></div>
</div>

<hr>
<h1>Replies</h1>
<% @post.replies.each do |reply| %>
  <div class="panel panel-default">
  <div class="panel-body"><%= reply.content %></div>
  <div class="panel-footer">
  <small><%= reply.user.email %> on
     <%= reply.created_at.strftime('%B %e %Y, %l:%M%P')%></small>
  </div>
  </div>
<% end %>

<% if user_signed_in? %>
  <h1>New reply</h1>
  <div class="well">
  <%= form_for [@post, @reply], :html => {:class => "form"} do |f| %>
    <div class="form-group">
      <%= f.label :content %>
      <%= f.text_area :content, size: "60x12", class: "form-control" %>
    </div>
    <button type="submit" class="btn btn-primary">Reply</button>
  <% end %>
  </div>
<% else %>
  <p>Sign in to reply to this post.</p>
<% end %>
